main {
  border: solid 1px black;
  height: calc(100% - var(--app-div-height, 0px));
  height: 100%;
}

.card-section {
  display: flex;
  flex-direction: row;
  position: relative;
  border: solid 1px blue;
  width: 450px;
  height: 400px;
  overflow-x: auto;
}