main {
  height: calc(100% - var(--app-div-height, 0px));
  height: 100%;
}

.card-section {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: auto;
  width: 450px;
  min-height: 400px;
  height: calc(100% - var(--app-div-height, 0px) * 2);
  overflow-x: auto;
  overflow-y: auto;
}