.app-div {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  --button-height: 1.5rem;
  --button-width: 1.75rem;
  
  -webkit-app-region: drag;
  
  --button-colour: black;
  background-color: skyblue;
  width: 100%;
  height: var(--app-div-height, --button-height);
}

.app-buttons {
  -webkit-app-region: no-drag;
  position: relative;
  width: var(--button-width);
  height: var(--button-height);
}

.app-buttons:hover {
  background-color: hsl(180, 50%, 75%);
}

.app-buttons:active {
  background-color: hsl(180, 25%, 50%);
}
/*------------ Buttons General -----------*/
.b-red:hover {
  background-color: rgba(230, 50, 0, 1) !important;
}
.b-red:active {
  background-color: rgba(230, 0, 0, 0.75) !important;
}
/*--------------- Minimize ---------------*/
.mini::after, .mini::before {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  content: "";
  height: 1.5px;
  width: 50%;
  background-color: var(--button-colour);
}
/*--------------- Maximize ---------------*/
.maxi::after, .maxi::before {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  content: "";
  height: calc(50% - 4px);
  width: calc(50% - 4px);
  border: solid 1.5px var(--button-colour);
}

.minimize:after, .minimize::before {
  position: absolute;
  top: 50%;
  right: 50%;
  content: "";
  height: calc(50% - 4px);
  width: calc(50% - 4px);
  border: solid 1.5px var(--button-colour);
}

.minimize:after {
  transform: translate(40%, -45%);
}

.minimize::before {
  transform: translate(55%, -60%);
}
/*----------------- Close -----------------*/
.close {
  --close-deg: 45deg;
}
.close::after, .close::before {
  position: absolute;
  top: 50%;
  right: 50%;
  content: "";
  height: 1.5px;
  width: 50%;
  background-color: var(--button-colour);
}

.close::after {
  transform: translate(50%, -50%) rotate(var(--close-deg));
}

.close::before {
  transform: translate(50%, -50%) rotate(calc(90deg + var(--close-deg)));
}
/*------------------ Logo -----------------*/
.app-logo {
  display: flex;
  margin-right: auto;
  
  width: var(--button-width);
  height: var(--button-height);
}

.app-logo > img {
  margin: auto;
  
  width: 100%;
  height: auto;
  
  max-width:  100%;
  max-height: 100%;
}

/*-----------------------------------------*/