.circle-wrapper {
  background-color: purple;
  position: relative;
  border-radius: 50%;
  margin: auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.circle-inner {
  background-color: powderblue;
  position: absolute;
  border-radius: 50%;
  width: calc(100% - 1.25rem);
  height: calc(100% - 1.25rem);
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  margin: auto;
}
.segment-wrapper {
  background-color: skyblue;
  position: relative;
  width: inherit;
  height: inherit;
  transform: rotate(180deg);
}
.segment {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  background-color: teal;
  transform-origin: top left;
  transform: rotate(-180deg) skew(0deg, 90deg);
  transition: all 0.25s ease-in
}