:root {
  --app-div-height: 1.5rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  height: calc(100vh - 2 * var(--app-div-height, 0px));
  max-height: 750px;
  max-width: 500px;
}